$blue: #3c81df;
$turquoise: #00c0ef;
$red: #f56954;
$green: #6cc788;
$orange: #f2a654;
$purple: #926dde;
$yellow: #f39c12;

$body-background: #f5f5f5;

// Miscellaneous
$easing: ease-out;
$radius-small: 2px;
$radius: 2px;
$radius-large: 2px;
$speed: 86ms;
